.app {
  width: 100%;
  max-width: 432px;
  margin: auto;
  position: relative;
}

.success{
  position: absolute;
  top: 60px;
  margin: auto;
  background-color: aquamarine;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 700;
  border: 3px solid black;
  border-bottom: 6px solid black;
  border-radius: 15px;
  right: 0;
}

.transition-enter{
  opacity: 0;
}
.transition-enter-active {
  opacity: 1;
  transform: translateY(40%);
  transition: 600ms;
}
.transition-enter-done{
  transform: translateY(40%);
}
.transition-exit {
  opacity: 1;
  transform: translateY(40%);
}
.transition-exit-active {
  opacity: 0;
  transform: translateY(-40%);
  transition: 200ms;
}